USE [master]
GO
/****** Object:  Database [CSHARP]    Script Date: 2022-04-30 17:36:11 ******/
CREATE DATABASE [CSHARP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSHARP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CSHARP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSHARP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CSHARP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSHARP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSHARP]
GO
/****** Object:  User [Dimitrijus]    Script Date: 2022-04-30 17:36:11 ******/
CREATE USER [Dimitrijus] FOR LOGIN [Dimitrijus] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [Dimitrijus]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [Dimitrijus]
GO
/****** Object:  Table [dbo].[person]    Script Date: 2022-04-30 17:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person_name] [varchar](50) NOT NULL,
	[person_surname] [varchar](50) NOT NULL,
	[phone_num] [varchar](20) NOT NULL,
	[person_address] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
